@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

/* header fonts/sizes */

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bolder;
	margin-top: 0px;
}




header-title {
	color: #751717;
	font-size: 50px;
	letter-spacing: 1.5px;
	display: block;
	font-weight: bolder;
	margin-bottom: 100px;
	padding: 10px;
	text-align: center;
}

#header-title #span1{
	font-size: 50px;
	letter-spacing: 1.5px;
	font-weight: bolder;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #2b64ff;
	background-color: #2b6eff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #2e8bf5;
	background: -webkit-linear-gradient(to right, #2b64ff, #4193ff);
	background: linear-gradient(to right, #2b75ff, #419aff);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

#highlighted {
    position: relative;
    background-color: #dc143c;
}
#highlighted .container-fluid h1, 
#highlighted .container-fluid p {
    color: #fff;
}

#highlighted .container-fluid h1 {
    font-size: 54px;
    font-family: Verlag,museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #414141;
    font-weight: 300;
}

#content {
    background-position: right bottom;
    background-repeat: no-repeat;
}

.interior-page {
    background-color: #FFF;
    padding-bottom: 30px;
}

#highlighted+#content.interior-page .interior-page-nav {
    margin-top: -4em;
}


#highlighted+#content.interior-page .interior-page-nav, .interior-page .interior-page-nav {
    padding-left: 0;
}

.sidebar {
    margin-top: 2em;
}
  
.content-area-right {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}
  
.container-fluid>.row h2.crumb-title {
    margin-bottom: 0;
}
  
.page-title {
    min-height: 50px;
}
  
.page-title, ul {
    margin: 0;
    list-style: none;
}
  
.content-crumb-div {
    margin: 5px 0 20px;
}
  
a {
    text-decoration: none;
}
  
.container-fluid .row .modal, .page .modal {
    position: fixed;
    top: 35%;
}
  
#highlighted+#content.interior-page .interior-page-nav, .interior-page .interior-page-nav {
    padding-left: 0;
}
  
#highlighted+#content.interior-page .interior-page-nav {
    margin-top: -4em;
}
  
.dynamicDiv.panel-group {
    border: 1px solid #E7E9E9;
    margin-left: 30px;
}
  
.panel-group {
    margin-bottom: 0;
    background-color: #fff;
}
  
.panel-group .panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
  
.panel-group .panel-heading {
    padding: 0;
    border: none;
}
  
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
  
.panel-group .panel-heading .panel-title {
    font-size: 1.1em;
    font-family: Verlag,museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
  
.interior-page-nav .panel-group .panel-heading .panel-title a {
    background: 0 0;
}
  
.panel-group .panel-heading .panel-title a {
    display: block;
    padding: 15px 45px 15px 15px;
    background: url(/resources/images/misc/icon_accordion-open.png) 95% center no-repeat #f6f6f6;
}
  
span.subMenuHighlight, ul.panel-heading li.panel-title a:hover {
    color: #ed3c95;
}
  
.panel-group .panel-heading .panel-title {
    font-size: 1.1em;
    font-family: Verlag,museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
  
ul.panel-heading {
    margin-bottom: 1px;
}
  
.panel-group .panel-heading .panel-title a {
    display: block;
    padding: 15px 45px 15px 15px;
    background: url(/resources/images/misc/icon_accordion-open.png) 95% center no-repeat #f6f6f6;
}
  
.panel-group {
    margin-bottom: 0;
    background-color: #fff;
}
  
.label-default {
    background-color: #fff;
    margin-top: 10px;
}
  
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
  
.form-control {
    border-radius: 0;
}
  
.btn-primary {
    color: #fff;
    background-color: #dc143c;
    border-color: #ea3e10;
    width: 100%;
}
  
.btn-block {
    display: block;
}
  
.btn {
    padding: 8px 28px;
    font-weight: 400;
    -webkit-transition: background .3s ease-in;
    transition: background .3s ease-in;
    white-space: normal;
    border-width: 0 0 1px;
}
  
.content-area-right {
    margin-top: 10px;
}

@media (min-width: 992px) {
    #highlighted.container-fluid {
      margin-bottom: 2.5rem;
    }
}

/* blurring background image */
.image-container {
	/* The image used */
	background-image: url("https://images.alphacoders.com/103/1038581.jpg");
  
	/* Add the blur effect */
	/* filter: blur(2px);
	position: relative;
	-webkit-filter: blur(1px); */
  
	/* Full height */
	height: 100%;
	max-width: 100%;
	z-index: -1;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/*Home Page*/

/* Add a black background color to the top navigation */
.topnav {
	background-color: rgb(0, 0, 0);
	overflow: hidden;
	width: 100%;
	position: absolute;
	top: 0;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
	background-color: #049faa;
	color: white;
}

#textbox {
	margin-top:150px;
	background-color: lightgrey;
	position: relative;
	width: 75%;
	height: 50%;
	opacity: 0.8;
	top: -12px;
	left: 35px;
	text-align: center;
	border: 2px solid silver;
}
  
#content {
	padding: 100px 30px;
}


/* Calendar */

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 0;
  }
  
  a {
	text-decoration: none;
  }
  
  body, html {
	height: 100%;
  }

  
  .container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
  }
  
  .calendar {
	background: #2b4450;
	border-radius: 4px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
	height: 501px;
	perspective: 1000;
	transition: .9s;
	transform-style: preserve-3d;
	width: 100%;
  }
  
  /* Front - Calendar */
  .front {
	transform: rotateY(0deg);
  }
  
  .current-date {
	border-bottom: 1px solid rgba(73, 114, 133, .6);
	display: flex;
	justify-content: space-between;
	padding: 30px 40px;
  }
  
  .current-date h1 {
	color: #dfebed;
	font-size: 1.4em;
	font-weight: 300;
  }
  
  .week-days {
	color: #dfebed;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	padding: 30px 40px;
  }
  
  .days {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .weeks {
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 0 40px;
  }
  
  .weeks div {
	display: flex;
	font-size: 1.2em;
	font-weight: 300;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
  }
  
  .last-month {
	opacity: .3;
  }
  
  .weeks span {
	padding: 10px;
  }
  
  .weeks span.active {
	background: #f78536;
	border-radius: 50%;
  }
  
  .weeks span:not(.last-month):hover {
	cursor: pointer;
	font-weight: 600;
  }
  
  .event {
	position: relative;
  }
  
  .event:after {
	content: '•';
	color: #f78536;
	font-size: 1.4em;
	position: absolute;
	right: -4px;
	top: -4px;
  }
  
  /* Back - Event form */
  
  .back {
	height: 100%;
	transform: rotateY(180deg);
  }
  
  .back input {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(73, 114, 133, .6);
	color: #dfebed;
	font-size: 1.4em;
	font-weight: 300;
	padding: 30px 40px;
	width: 100%;
  }
  
  .info {
	color: #dfebed;
	display: flex;
	flex-direction: column;
	font-weight: 600;
	font-size: 1.2em;
	padding: 30px 40px;
  }
  
  .info div:not(.observations) {
	margin-bottom: 40px;
  }
  
  .info span {
	font-weight: 300;
  }
  
  .info .date {
	display: flex;
	justify-content: space-between;
  }
  
  .info .date p {
	width: 50%;
  }
  
  .info .address p {
	width: 100%;
  }
  
  .actions {
	bottom: 0;
	border-top: 1px solid rgba(73, 114, 133, .6);
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
  }
  
  .actions button {
	background: none;
	border: 0;
	color: #fff;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 0;
	padding: 30px 0;
	text-transform: uppercase;
	width: 50%;
  }
  
  .actions button:first-of-type {
	border-right: 1px solid rgba(73, 114, 133, .6);
  }
  
  .actions button:hover {
	background: #497285;
	cursor: pointer;
  }
  
  .actions button:active {
	background: #5889a0;
	outline: none;
  }
  
  /* Flip animation */
  
  .flip {
	transform: rotateY(180deg);
  }
  
  .front, .back {
	backface-visibility: hidden;
  }